body{
	margin: 0;
	padding: 0;
}

p{
	margin: 0px;
}

ul,li,ol{
	list-style: none;
}

.bg-red{
	background:url(../img/bg.jpg);
}

.font-color{
	color: white;
}

#title-margin{
	margin-top: 60px;
}

.red-button{
	font-family:inherit;
	font-size: 16px;
	font-weight: 400;
	color: white;
	font-weight: bold;
	background-color: rgb(238,90,90);
	border: 2px solid rgb(233,30,39);
}

.red-button:hover{
	font-family:inherit;
	font-size: 16px;
	font-weight: 400;
	color: white;
	font-weight: bold;
	background-color: rgb(43,43,43);
	border: 2px solid rgb(43,43,43);
}

#row-padding{
	padding: 10px 0px 45px 0px;
}

h1{
	padding-bottom: 30px;
}

#nav-background{
	background-color: white;
	
}

#none-margin{
	margin-bottom: 0px;
}

.navbar .container ul{
	height: 40px;
	margin: 15px 80px;
	font-size: 16px;
	font-weight: 400;
	padding: 0px;
}

.navbar .container ul li{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

.navbar .container ul li a{
	color: rgb(43,43,43);
	background-color:#FFFFFF ;
	line-height: 40px;
	height: 40px;
	display: block;
	
}

.navbar .container ul li a:hover{
	color: rgb(238,98,98);
	text-decoration: none;
	display: block;
}

#navbar{
	margin-bottom: 0px; 
	border:none; 
	background-color: #fff;
}

@media (max-width: 767px){
	#button-center{
		margin-left: auto;
		margin-right: auto;
		display: block;
		float: none;
	}
	
	.navbar .container ul{
		margin: 10px 0;
	}
	
	.navbar .container ul li{
		margin-left: 0;
	}
}

/************************内容********************************/
/*左侧内容*/
#bottom{
	background-color:#D3D3D3;
}

#left-background{
	background: white;
    margin-bottom: 20px;
    padding: 0px 10px 40px 10px;
}

#img-padding{
	padding: 20px 10px;
}

#left-background h2{
	padding: 15px 0px 5px 0px;
}

#left-background p{
	margin: 0px 10px;
	text-align: left;
	font-size: 16px;
}

.content-button{
	text-align: left;
    padding: 15px 0px 20px 0px;
    border-bottom: 1px solid #ccc;
    margin: 0px 10px;
}

.but{
	border-radius: 1px;
    border: 1px none;
    padding: 5px 10px;
    color: white;
    background: #ff5151;
}

.content-interval{
	padding: 10px 0px;
}

.zl{
	color: #ff5151;
}

/*右侧内容*/
#right-background{
	background: white;
    padding: 0px 10px 25px 10px;
    margin-top: 20px;
}

#right-background h2{
	font-size: 30px;
    padding: 15px 0px 0px 0px;
}

#bar1{
	height: 1px;
	margin-bottom: 5px;
}

#bar2{
	height: 1px;
	margin-bottom: 5px;
	background-color: #ff5151;
}

#right-background span{
	color: #FF5151;
	position: relative;
	top: 3px;
	font-size: 14px;
	margin-right: 4px;
}

#right-background a{
	color: #FF5151;
	font-size: 13px;
}

#right-background a:hover{
	color: #CCCCCC;
	text-decoration: none;
	cursor: pointer;
}

#right-background #p1{
	padding: 10px 0px 0px 0px;
}

#right-background #p2{
	padding: 5px 0px 10px 0px;
}

#right-btn{
	margin-top: 10px;
    border-radius: 1px;
    border: 1px none;
    padding: 5px 10px;
    color: white;
    background: #ff5151;
}

#right-btn:hover{
	background: #303030;
    color: #fff;
}
/*底部*/
#foot-bg{
	background: #333333;
}

#foot-background{
    padding: 0px 30px;
    margin-top: 20px;
    color:#bbb;
}

#foot-background h2{
  color: white;
}

#bar3{
	height: 1px;
	margin-bottom: 5px;
	background-color: #555555;
}

#bar4{
	height: 1px;
	margin-bottom: 5px;
	background-color: #ff5151;
}

.foot-nav ul{
	padding: 0px;
}

.foot-nav ul li{
	padding: 15px 0px;
    border-bottom: 1px dotted #444;
}

#foot-background button{
	width: 37px;
    height: 24px;
    border: 1px solid #444;
    background-color: rgba(0,0,0,0);
    margin-top: 10px;
}

#foot-background a{
	color: #CCCCCC;
}

#foot-background a:hover{
	color: #FF5151;
	text-decoration: none;
}


.foot-p p{
	padding: 5px;
}

.yun{
	border-top: 1px dotted #444;
	padding: 11px 0px;
    margin: 14px 0px;
}

/*footer*/
.footer{
	background: #222;
    color: #bbb;
    padding: 20px 0px;
}
